# Dependencias
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de construcción
.nuxt
.output
dist

# Archivos de desarrollo
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de IDE
.vscode
.idea
*.swp
*.swo

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Archivos temporales
tmp
temp

# Archivos de testing
coverage
.nyc_output

# Archivos de Docker
Dockerfile*
docker-compose*
.dockerignore


